.background{
  background-color: #B5C46B;
  flex: 1
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

input{
  border-radius: 5px;
  height: 20px;
  background-color: #d8e981;
}

form{
  margin-block-end: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  margin-top: 10px;
  border-color: #485319;
}

.Save, input[type="submit" i] {
  padding: 5px;
  width: 100px;
  background-color: #5f6d22;
  border-color:#485319;
  border-radius: 5px;
  height: auto;
  margin-top: 16px;

}

#modal{
  background-color: white;
  max-width: 500px;
  padding: 15px 30px;
  text-align: start;
  width: 90vw;
  border-radius: 8px;
}

.disabler{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
}

.dialog-sheet{
  background-color: #d8e981;
  border-radius: 10px;
  z-index: 999;
}

.rdp-cell{
  background-color: #B5C46B;
  border: 1px solid #d8e981;
}

/* CSS to replace the one from the plugin */

 .Dropdown-root {
  position: relative;
}

 .Dropdown-arrow {
  border-color: #999 transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  position: absolute;
  right: 10px;
  top: 11px;
}

.Dropdown-control {
  position: relative;
  background-color: #d8e981;
  border: 2px solid ;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 52px 4px 10px;
  min-width: 110px;
}

.Dropdown-menu {
  background-color: #d8e981;
  border: 2px solid ;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 100;
}

.Dropdown-option {
  cursor: pointer;
  padding: 8px 10px;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}