.view {
  width: 200px;
  background-color: #B5C46B;
  text-decoration: none;
  color: #2c3e50;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: inset 0px 0px 8px 6px #82913f;
  padding: 10px;
}

.view:hover {
  background-color: #c9da79;
  box-shadow: inset 0px 0px 8px 6px #97a849;

}

.Logo {
  height: 100%;
}

.Logo-link{
  width: fit-content;
  height: 100%;
  margin-right: calc(50vw - 314px);
}

.Header{
  background-color: #485319;
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

